
*.bin
*.mat


*.png
*.jpg
*.jpeg
*.svg
*.pdf


.venv/
venv/
env/
ENV/


__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/


.ipynb_checkpoints/
*.ipynb_tmp


.vscode/settings.json
.idea/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db
desktop.ini

*.asv
*.m~
slprj/
octave-workspace


*.log
*.tmp
*.bak
